*.log
.vscode
.idea

node_modules/

**/gin-bin
**/gin-bin.exe
**/main.exe

**/*.exe
**/__debug_bin*

**/config.*.yml

docker-compose.yml

.env
app.env
secrets
cmd/test.go

docker/redis-data/dump.rdb